@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
    background: #202731;
    color: #eee;
    font-family: prompt;
}

header {
    position: relative;
}

img {
    position: absolute;
    scale: .5;
    width: 100vw;
    max-width: 100%;
    top: -200px;
    left: 1050px;
}

nav {
    position: fixed;
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 7em;
    margin-top: 45px;
    z-index: 1000;
}

a {
    text-decoration: none;
    color: #EEE;
}

span {
    cursor: pointer;
    padding: 10px;
    transition: 1s ease;
}

span:hover{
    color: #555;
}

.divider {
    margin-top: 90px;
    background: #202731;
}



p {
    line-height: 1.5;
    font-size: 18px;
}

.covalence {
    font-weight: bold;
    font-style: italic;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 750px;
    padding: 100px ;
}

.name {
    color: #dd3f31;
}

.title {
    margin-top: -40px;
    font-size: 32px;
}

.about {
    position: relative;
    margin-top: -20px;
    margin-left: -800px;
    font-size: 38px;   
}

.link {
    position: absolute;
    margin-left: -100px;
    margin-top: -20px;
}

.git {
    position: absolute;
    margin-top: -21px;
    margin-left: -27px;
}

.resume {
    position: absolute;
    margin-top: 199px;
    margin-left: 130px;
    font-size: 18px;
    font-weight: bold;
}

.bio {
    margin-top: 50px;
    width: -880px;
    max-width: 80%;
    font-size: 16px;
}

.orange {
    background-color: #dd3f31;
}

.exp {
    color: #202731;
    font-size: 42px;
}

.pro {
    font-size: 42px;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(125% + 1.3px);
    height: 400px;
}

.wave .shape-fill {
    fill: #DD3F31;
}

.wave2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave2 svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 215px;
}

.wave2 .shape-fill {
    fill: #202731;
}

.about .name,
.about .title,
.about .me,
.about a,
.about .bio,
.orange .exp,
.orange .des,
.orange .icons,
.pro {
    opacity: 0;
    transition: opacity 3s ease;
}

.about .name.fade-in,
.about .title.fade-in,
.about .bio.fade-in,
.about .me.fade-in,
.about a.fade-in,
.pro.fade-in {
    opacity: 1;
}

.icon-container {
    position: relative;
    width: -100vw;
    margin-top: 80px;
    overflow: hidden;
    white-space: nowrap;
}

.icons {
    justify-content: center;
    display: inline-block;
    width: 200%;
}

 .icon {
    display: inline-block; 
    margin-right: 20px; 
    animation: scrollIcons 20s linear infinite;
}


.bio {
    width: 800px;
    max-width: 80%;
    font-size: 19px;
    line-height: 2;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.project {
    flex: 0 0 auto;
    width: 100%;
}

.project-des {
    text-align: center;
}

.project-svg-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bk-repo {
    font-weight: bold;
}

.blog-repo {
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    body {
      font-size: 16px; 
      width: 100vw;
      overflow-x: hidden;
    }
    
    nav {
        width: 100vw;
        gap: 2em;
    }

    .about {
        position: relative;
    }

    .bio {
        position: absolute;
        width: 300px;
        margin-left: 800px;
        margin-top: 200px;
        font-size: 16px;
    }
    
    .me {
      display: none; 
    }

    .name {
        position: absolute;
        width: 300px;
        margin-left: 835px;
        font-size: 40px;
        
    }

    .title {
        position: absolute;
        width: 300px;
        margin-left: 875px;
        margin-top: 115px;
        font-size: 20px;
    }

    .link {
        position: absolute;      
        margin-left: 300px;
        margin-top: 155px;
    }

    .git {
        position: absolute;      
        margin-left: 360px;
        margin-top: 155px;
    }

    .resume {
        position: absolute;      
        margin-left: 900px;
        margin-top: 155px;
    }

    .orange {
        position: relative;
    }

    .des {
        position: absolute;
        margin-top: -20px;
        width: 300px;
        font-size: 16px;
    }

    .exp {
        margin-top: -100px;
    }

    .icons {
        margin-left: 2400px;
        width: 1700px;
        margin-top: 600px;
    }

    
     @keyframes scrollIcons {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-3200%);
    }
}   
  
    .wave2 {
        display: none;
    }

 

  }

  @media (min-width:800) and (max-width: 920px) {
    body {
      font-size: 26px; 
      width: 100vw;
      overflow-x: hidden;
    }
    
    nav {
        width: 100vw;
        gap: 2em;
    }

    .about {
        position: relative;
    }

    .bio {
        position: absolute;
        width: 700px;
        margin-left: 800px;
        margin-top: 250px;
        font-size: 20px;
    }
    
    .me {
      display: none; 
    }

    .name {
        position: absolute;
        width: 300px;
        margin-left: 835px;
        font-size: 40px;
        
    }

    .title {
        position: absolute;
        width: 300px;
        margin-left: 875px;
        margin-top: 100px;
        font-size: 20px;
    }

    .link {
        position: absolute;      
        margin-left: 300px;
        margin-top: 155px;
    }

    .git {
        position: absolute;      
        margin-left: 360px;
        margin-top: 155px;
    }

    .resume {
        position: absolute;      
        margin-left: 900px;
        margin-top: 155px;
    }

    .orange {
        position: relative;
    }

    .des {
        position: absolute;
        margin-top: 70px;
        width: 700px;
        font-size: 20px;
    }

    .exp {
        margin-top: -30px;
    }

    .icons {
        margin-left: 2400px;
        width: 1700px;
        margin-top: 500px;
    }

    
     @keyframes scrollIcons {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-3200%);
    }
}   
  
    .wave2 {
        display: none;
    }

   


  }
  
  
  @media (min-width: 921px) and (max-width: 1100px) {

      .about {
        position: relative;
      }

      .me {
        display: none;
      }

     .name {
        position: absolute;
        margin-left: 800px;
     }

     .title {
        position: absolute;
        margin-left: 800px;
        margin-top: 150px;
     }

     .bio {
        position: absolute;
        margin-left: 800px;
        margin-top: 300px;
        font-size: 20px;
     }

     .link {
        position: absolute;
        margin-left: 250px;
        margin-top: 230px;
     }

     .git {
        position: absolute;
        margin-left: 350px;
        margin-top: 230px;
     }

     .resume {
        position: absolute;
        margin-left: 950px;
        margin-top: 230px;
     }

     

  }

@media (min-height: 800px) and (max-height: 599px) {
    .about {
        position: relative;
    }

    .me {
        position: absolute;
        margin-top: 100px;
        margin-left: 100px;
    }

    .name {
        position: absolute;
        margin-left: 800px;
    }

    .title {
        position: absolute;
        margin-left: 800px;
        margin-top: 130px;
    }

    .bio {
        position: absolute;
        margin-left: 800px;
        margin-top: 330px;
    }

    .link {
        position: absolute;
        margin-top: 200px;
        margin-left: 250px;
    }

    .git {
        position: absolute;
        margin-top: 200px;
        margin-left: 380px;
    }

    .resume {
        position: absolute;
        margin-left: 1050px;
    }

    .orange {
        position: relative;
    }

    .exp {
        position: absolute;
        margin-top: -100px;
    }

    .des {
        position: absolute;
        margin-left: 50px;
        width: 780px;
    }

    .icons {
        position: relative;
        margin-top: 400px;
    }
  
}

@media screen and (min-width: 1100px) and (max-width: 1420px) {
    .me {
        display: none; 
      }

    .about {
        position: relative;
    }

    .bio {
         
            position: absolute;
            width: 100vw;
            max-width: 50%;
            margin-left: 800px;
            margin-top: 250px;
            font-size: 20px;
        
    }

    .name {
         
        position: absolute;
        width: 100vw;
        max-width: 50%;
        margin-left: 1520px;
        
        font-size: 46px;    
    }

    .title {
        position: absolute;
        width: 100vw;
        max-width: 50%;
        margin-left: 1500px;       
        font-size: 30px;
        margin-top: 110px;
    }

    .link {
        position: absolute;
        margin-left: 240px;
        margin-top: 160px;
    }

    .git {
        position: absolute;
        margin-left: 355px;
        margin-top: 160px;
    }

    .resume {
        position: absolute;
        margin-left: 978px;
        margin-top: 159px;
    }
}

@media (min-width: 1421px) and (max-width: 1650px) {
    .about {
        position: relative;
    }

    .me {
        position: absolute;
        margin-top: -10px;
        margin-left: 275px;
    }

    .name {
        position: absolute;
        margin-left: 800px;
    }

    .title {
        position: absolute;
        margin-left: 800px;
        margin-top: 135px;
    }

    .bio {
        position: absolute;
        margin-left: 800px;
        margin-top: 300px;
    }

    .link {
        position: absolute;
        margin-left: 250px;
        margin-top: 200px;
    }

    .git {
        position: absolute;
        margin-left: 373px;
        margin-top: 201px;
    }

    .resume {
        position: absolute;
        margin-left: 1010px;
        margin-top: 201px;
    }
}